body {
  margin: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 70px;
  background-color: coral;
  /* padding: 10px 40px; */
}

.logo {
  display: flex;
  align-items: center;
  padding: 15px 0px;
}

.logo img {
  height: 50px;
  margin-right: 15px;
}

.company-logo {
  font-size: 1.3em;
}

nav {
  padding-bottom: 15px;
}

nav a {
  padding-left: 10px;
}

nav a:hover {
  color: white;
}

@media (min-width: 600px) {
  header {
    flex-direction: row;
    padding: 0px 30px;
    justify-content: space-between;
  }
}